body {
  background-image: url(img/fundo.jpg);
  background-size: cover;
  background-position: center;
}
.card {
  background-color: white;
  border-radius: 30px;
  box-shadow: -20px 20px 0px #000000;
  width: 355px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  padding-bottom: 35px;
}
.header {
  background-color: #f7dfaf;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 20px;
}
.header h1 {
  font-family: 'Comic Sans MS', cursive;
  font-weight: bold;
  font-size: 28px;
  margin-top: 10px;
}
input {
  width: 80%;
  padding: 12px;
  border: 2px solid #555;
  border-radius: 25px;
  margin: 10px 0;
  font-size: 14px;
}
.options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 20px;
}
.options input[type="checkbox"] {
  margin-right: 5px;
}
.options a {
  color: #e6a94f;
  text-decoration: none;
}
button {
  background-color: #ffe24d;
  padding: 10px 25px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Fredoka One', cursive;
  cursor: pointer;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}